@media (max-width: 84em) {
  .container-hero,
  .container {
    max-width: 110rem;
  }
  .main-nav {
    max-width: 110rem;
  }
}
@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
  .container {
    max-width: 100rem;
  }
  .main-header {
    font-size: 5.2rem;
  }
  .home-img{
    width: 52rem;
    height: 51rem;
  }
}
@media (max-width: 59em) {
  html {
    /* 8px / 16px = 0.5 = 50% */
    font-size: 50%;
  }
  .btn-mobile-nav{
    display: block;
  }
  .main-nav{
    background-color: rgba(255, 255, 255, 0.97);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }
  .nav-open .icon-mobile-nav[name="close-outline"]{
    display: block;
  }
  .nav-open .main-nav-header {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
  }
  
  .nav-open .icon-mobile-nav[name="menu-outline"]{
    display: none;
  }
  .main-nav-list{
    flex-direction: column;
    gap: 4.8rem;
  }
  .nav-link:link, 
  .nav-link:visited{
    font-size: 3rem;
}
  .home {
    display: grid;
    gap: 8.2rem;
    grid-template-columns: 1fr;
    width: 100%;
    padding: 9.6rem 0 0 9.6rem;
    margin: 0 auto;
    justify-items: center;
  }
  .container {
    max-width: 85rem;
  }

  .main-header {
    text-align: center;
    font-size: 9.2rem;
    width: 75rem;
  }
  .header-description {
    font-size: 4rem;
  }
  #email {
    padding: 3rem 32rem 3rem 8rem;
    font-size: 2.8rem;
  }
  .icon {
    left: 2%;
    top: 27%;
    font-size: 3rem;
  }
  .feed-back-imgs img {
    width: 8.8rem;
    height: 8.8rem;
  }
  .feed-back-box span {
    font-size: 4.4rem;
  }
  .feed-back-txt {
    font-size: 2.6rem;
  }
  .home-img-box {
    text-align: end;
  }
  .link-icon {
    font-size: 3.6rem;
  }
  .home-text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .home-img-box img {
    width: 80%;
    height: unset;
  }
  .grid .grid--2-cols {
    gap: 3.2rem;
  }
  
}